*{
	font-family: 'Poppins', sans-serif;
}
.theme
{
    background: linear-gradient(-45deg,#FFF600, #f0ec7c, #fff700);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: #070702;
	transition-duration: 550ms;
}
.sun
{
    width: 30px;
}

.theme.light
{  background: linear-gradient(-45deg, #f1f1f1, #bbbbbb, #ddd);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #161616;
    transition-duration: 550ms;
}
 
.container
{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    padding-top: 240px;
    font-size: 28px;
}


.text
{
    display: grid;
    grid-column: 1;
    justify-content: center;
    align-self: center;
    text-align: center;
}


.shadowBtn{
    width: 120px;
    height: 60px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: relative;
}

.shadowBtn:hover{
    background-color: #0000004f;
    color: #000000;
    transition: 1s ease;
}

.shadowBtn::before{
    content: '';
    position: absolute;
    left: 0;
    top:50px;
    background: transparent;
    height:50%;
    width:100%;
    transform: perspective(1cm);
    rotate: (40deg) scale(1, 0.35);
    filter: blur(8px);
    transition: 1s ease;

}

.shadowBtn:hover::before{
    background: rgba(0, 0, 0, 0.356);
    top: 70px;
}


@media (min-width:300px) and (max-width:900px)
{
    .container
    {
        
        padding-top: 145px;
        font-size: 20px;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}